---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
---

<Layout title="John Duncan Ferguson - Biography">
	<main class="pt-1">
		<Hero slogan="Call me Jack" more="a little bit about me" cta="" url="" bg="" />
	</main>
</Layout>
