---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
import Content from "../components/Content.astro";
---

<Layout title="John Duncan Ferguson - Biography">
	<main class="pt-1">
		<Hero slogan="Biography" more="a little bit about me" cta="" url="" bg="bg-hero-bio md:bg-hero-bio-lg" />

		<Content>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, veritatis, voluptatibus. Commodi deleniti
				et illum labore, laborum libero molestiae nostrum, officia placeat porro quod reiciendis sapiente temporibus,
				voluptas voluptatem voluptates.</p>
		</Content>

	</main>
</Layout>
