---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ContactForm from '../components/ContactForm.astro';
---

<Layout title="John Duncan Ferguson - Contact">
  <main class="pt-1">
    <Hero slogan="reach out" more="let's talk" cta="" url="" bg="bg-hero-contact md:bg-hero-contact-lg" />

    <section class="bg-white dark:bg-gray-900">
      <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Contact</h2>
        <ContactForm />
      </div>
    </section>

  </main>
</Layout>