---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
import Testimonials from "../components/Testimonials.astro";
---

<Layout title="John Duncan Ferguson - Portfolio">
  <main class="pt-1">
    <Hero slogan="Testimonials" more="kind words from good folks" cta="" url=""/>
    <Testimonials />
  </main>
</Layout>