---
import P from '../components/html/P.astro';
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
import Content from "../components/Content.astro";
---

<Layout title="John Duncan Ferguson - Gratitude">
  <main class="pt-1">
    <Hero slogan="Thank" more="you" cta="" url="" bg="bg-hero-gratitude md:bg-hero-gratitude-lg" />

    <Content>
      <P>It gives me great joy and satisfaction to be doing what I love.</p>
    </Content>

  </main>
</Layout>