---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
---

<Layout title="John Duncan Ferguson - Gratitude">
  <main class="pt-1">
    <Hero slogan="Giving Thanks" more="life is a team effort" cta="" url="" bg="" />
  </main>
</Layout>