---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
---

<Layout title="Welcome to Astro.">
	<main class="pt-1">
		<Hero slogan="Southern Gulf Islands Home Design" more="" cta="view portfolio"/>
	</main>
</Layout>
