---
import P from '../components/html/P.astro';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Content from '../components/Content.astro';
---

<Layout title="JOHN DUNCAN FERGUSON">
	<main class="pt-1">
		<Hero slogan="Design" more="by JOHN DUNCAN FERGUSON" cta="view portfolio" url="/portfolio"
					bg="bg-tuepah md:bg-tuepah-lg"/>

		<Content>
			<P>After 40 years of designing homes, I still have the same passion and joy working in this field now, as I did when
				I started.</P>
			<P>Each new project is unique, because each individual that comes to the table has their own wishes and dreams for
				the outcome of their home.</P>
			<P>I often use the phrase "I like all styles of architecture, if it is done correctly". Fulfilling the wishes of
				my clients is the most important thing to me. It is my job to make the layout and flow of the home work properly,
				as this is the key to good design. The style of the architecture is up to the clients taste.</P>
			<P>I have been lucky enough to design many different styles of exterior over the years, from Victoria to modern. </P>
			<P>It is my passion to get it right.</P>
		</Content>

	</main>
</Layout>
