---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
---

<Layout title="Welcome to Astro.">
	<main class="pt-1">
		<Hero slogan="West Coast Home Design" more="by JOHN DUNCAN FERGUSON" cta="view portfolio" url="/portfolio"/>
	</main>
</Layout>
