---
import P from '../components/html/P.astro';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Content from '../components/Content.astro';
---

<Layout
	title="John Duncan Ferguson - Home"
	description="John Duncan Ferguson is a renowned designer of homes, from the Canadian west coast"
>
	<main class="pt-1">
		<Hero slogan="Home Design" more="by JOHN DUNCAN FERGUSON" cta="view portfolio" url="/portfolio"
					bg="bg-tuepah md:bg-tuepah-lg"/>

		<Content>
			<P>After 40 years I still feel the same passion for designing homes.</P>
			<P>Fulfilling the wishes of my clients is the most important thing to me. It is my job to make the proportions and
				flow of your home work for your lifestyle.</P>
			<!--
			<P>I often use the phrase "I like all styles of architecture, if it is done correctly". Fulfilling the wishes of
				my clients is the most important thing to me. It is my job to make the layout and flow of the home work properly,
				as this is the key to good design. The style of the architecture is up to the clients taste.</P>
			<P>I have been lucky enough to design many different styles of exterior over the years, from Victoria to
			        modern.</P>
			<P>It is my passion to get it right.</P>
			-->
			<div class="w-[245px] h-[143px] bg-signature bg-cover"></div>
		</Content>

	</main>
</Layout>
