---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
---

<Layout title="JOHN DUNCAN FERGUSON">
	<main class="pt-1">
		<Hero slogan="West Coast Home Design" more="by JOHN DUNCAN FERGUSON" cta="view portfolio" url="/portfolio"
					bg="bg-tuepah lg:bg-tuepah-lg"/>
	</main>
</Layout>
