---
import P from '../components/html/P.astro';
import LI from '../components/html/LI.astro';
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
import Content from "../components/Content.astro";
---

<Layout title="John Duncan Ferguson - Portfolio">
  <main class="pt-1">
    <Hero slogan="The Process" more="of a home design project" cta="" url=""
          bg="bg-hero-process md:bg-hero-process-lg" />

    <Content>
      <P>The program for a home starts with the client's "wish list", size and style of of home they want, number of
        bedrooms, etc.</P>
      <P>Then:</P>

      <ol class="list-decimal p-6 text-xl font-thin ">
        <LI>gather zoning information and visit the site</LI>
        <LI>sections of the homes location</LI>
        <LI>sketch ideas and present two or three alternatives</LI>
        <LI>preliminary plans</LI>
        <LI>interior design</LI>
        <LI>working drawings</LI>
      </ol>

      <P>A lot of work goes into the preliminary design stage. The is where the plan is really solidified. I will often
      start correspondence with a professional engineer during the preliminaries.</P>

      <P>Also at the prelim stage interior design is very important. This incorporates a furniture plan and any artwork the
      client would like to display. I encourage clients to hire a professional interior designer, and possibly become
      part of the team throughout the build.</P>

      <P>The last step is preparing construction ready working drawings. This is a very intense stage for the draftsman and
      principle designer as it involves final engineering, correspondence with the builder, roof truss company, and the
      window supplier, etc.</P>

      <P>All the requirements for the building permits are also included in this final stage.</P>

      <P>My last words of advice are: get a tight budget done before starting the build, and have fun with the process of
      building your dream home.</P>
    </Content>

  </main>
</Layout>
