---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
---

<Layout title="John Duncan Ferguson - Portfolio">
  <main class="pt-1">
    <Hero slogan="The Process" more="how a home design project unfolds" cta="" url=""
          bg="bg-hero-process md:bg-hero-process-lg" />
  </main>
</Layout>