---
import P from '../components/html/P.astro';
import LI from '../components/html/LI.astro';
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
import Content from "../components/Content.astro";
---

<Layout
    title="John Duncan Ferguson - Process"
    description="Ideas about the important steps to consider when designing a home."
>
  <main class="pt-1">
    <Hero slogan="The Process" more="" cta="" url=""
          bg="bg-hero-process md:bg-hero-process-lg" />

    <Content>
      <P>The program for a home starts with the client's "wish list", size and style of of home you want, number of
        bedrooms, etc.</P>

      <ol class="list-decimal p-6 text-lg font-thick ">
        <LI>gather zoning information and visit the site</LI>
        <LI>draw sections of the home's location based on topographic information</LI>
        <LI>sketch ideas and present two or three alternatives</LI>
        <LI>preliminary plans</LI>
        <LI>interior design</LI>
        <LI>working drawings</LI>
      </ol>

      <P>A lot of work goes into the preliminary design stage. This where the plan is really solidified.</P>

      <P>Interior design is very important at this stage. This incorporates a furniture plan and any artwork the client
        would like to display.</P>

      <P>The last step is preparing construction ready working drawings. This is a very intense stage for the draftsman
        and principal designer as it involves final engineering, correspondence with the builder, roof truss company,
        and the window supplier, etc.</P>

      <P>All the requirements for the building permits are also included in this final stage.</P>

      <P>My last words of advice are: get a tight budget done before starting the build, and have fun with the process of
      building your dream home.</P>
    </Content>

  </main>
</Layout>
