---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
import Content from "../components/Content.astro";
---

<Layout title="John Duncan Ferguson - Portfolio">
  <main class="pt-1">
    <Hero slogan="The Process" more="of a home design project" cta="" url=""
          bg="bg-hero-process md:bg-hero-process-lg" />

    <Content>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, veritatis, voluptatibus. Commodi deleniti
        et illum labore, laborum libero molestiae nostrum, officia placeat porro quod reiciendis sapiente temporibus,
        voluptas voluptatem voluptates.</p>
      <ol class="list-decimal p-6 pb-0 text-2xl font-thin">
        <li>wishlist</li>
        <li>alternatives</li>
        <li>preliminary design</li>
        <li>interior design</li>
        <li>working drawings</li>
      </ol>
    </Content>

  </main>
</Layout>
