---
interface Props {

}

---

<footer class="p-6 bg-base-200 md:p-8 lg:p-10 dark:bg-gray-800">
	<div class="mx-auto max-w-screen-xl text-center">
		<a href="#" class="flex justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white">
			follow your dreams
		</a>
		<p class="my-6 text-gray-500 dark:text-gray-400">I'd love to hear about your ideas, and work together on realizing
		them.</p>
		<ul class="flex flex-wrap justify-center items-center mb-6 text-base-900 dark:text-base-100">
			<li>
				<a href="/" class="mr-4 hover:underline md:mr-6 ">Home</a>
			</li>
			<li>
				<a href="/bio" class="mr-4 hover:underline md:mr-6">Bio</a>
			</li>
			<li>
				<a href="/portfolio" class="mr-4 hover:underline md:mr-6 ">Portfolio</a>
			</li>
			<li>
				<a href="/process" class="mr-4 hover:underline md:mr-6">Process</a>
			</li>
			<!--
			<li>
				<a href="/ideas" class="mr-4 hover:underline md:mr-6">Ideas</a>
			</li>
			-->
			<li>
				<a href="/gratitude" class="mr-4 hover:underline md:mr-6">Gratitude</a>
			</li>
		</ul>
		<span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
			&copy; <script is:inline>document.write(/\d{4}/.exec(Date())[0])</script>
			John Duncan Ferguson Home Design
		</span>
		<p class="mt-2 text-xs text-gray-500 sm:text-center dark:text-gray-400 font-thin">
			<a class="hover:underline" href="https://iteratedev.com" target="_blank">
				site design and maintenance by Iterate Dev</a>
		</p>
	</div>
</footer>
