---

---

<!-- poppy -->
<div class="bg-poppy bg-cover py-16 md:py-24 lg:py-32">
	<button data-modal-target="poppy" data-modal-toggle="poppy"
					class="block mx-auto text-base-50 bg-primary-950 hover:bg-primary-900 font-light text-sm px-5
					py-2.5 text-center"
					type="button">
		Poppy &rarr;
	</button>
</div>

<!-- forillo -->
<div class="bg-forillo bg-cover py-16 md:py-24 lg:py-32">
	<button data-modal-target="forillo" data-modal-toggle="forillo"
					class="block mx-auto text-base-50 bg-primary-950 hover:bg-primary-900 font-light text-sm px-5
					py-2.5 text-center"
					type="button">
		Forillo &rarr;
	</button>
</div>

<!-- wise island -->
<div class="bg-wise bg-cover py-16 md:py-24 lg:py-32">
	<button data-modal-target="wise" data-modal-toggle="wise"
					class="block mx-auto text-base-50 bg-primary-950 hover:bg-primary-900 font-light text-sm px-5
					py-2.5 text-center"
					type="button">
		Wise Island &rarr;
	</button>
</div>

<!-- tupah -->
<div class="bg-modern bg-cover py-16 md:py-24 lg:py-32">
	<button data-modal-target="tupah" data-modal-toggle="tupah"
					class="block mx-auto text-base-50 bg-primary-950 hover:bg-primary-900 font-light text-sm px-5
					py-2.5 text-center"
					type="button">
		Tupah &rarr;
	</button>
</div>

<!-- newcombe -->
<div class="bg-newcombe bg-cover py-16 md:py-24 lg:py-32">
	<button data-modal-target="newcombe" data-modal-toggle="newcombe"
					class="block mx-auto text-base-50 bg-primary-950 hover:bg-primary-900 font-light text-sm px-5
					py-2.5 text-center"
					type="button">
		Newcombe &rarr;
	</button>
</div>

<!-- stoik -->
<div class="bg-stoik bg-cover py-16 md:py-24 lg:py-32">
	<button data-modal-target="stoik" data-modal-toggle="stoik"
					class="block mx-auto text-base-50 bg-primary-950 hover:bg-primary-900 font-light text-sm px-5
					py-2.5 text-center"
					type="button">
		Stoik &rarr;
	</button>
</div>

