---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

---

<!doctype html>
<html lang="en" class="bg-base-800">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" sizes="any" href="/favicon.svg" />
		<link rel="shortcut icon" type="image/x-icon" media="all" href="/favicon.ico"/>
		<link rel="icon" href="/favicon.ico" type="image/ico" sizes="16x16">
		<link rel="sitemap" href="/sitemap-index.xml"/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<div class="pb-16"></div>
	  <div class="bg-base-50">
			<slot />
		</div>
		<Footer />
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
	</body>
</html>
